section.report {

    & h2 {
        color: #4CAF50;
    }


    & table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    & table, th, td {
        border: 1px solid #ddd;
    }

    & th, td {
        padding: 10px;
        text-align: left;
    }

    & th {
        background-color: #f4f4f9;
        text-align: center;
        position: sticky;
        top:0px;
    }

    & td {
        white-space: nowrap;
    }



    & .error {
        color: red;
        font-style: italic;
    }


    & tr:has(td.filtered) {
        display: none;
    }

    & select.has-selection {
        background-color: lightgreen;
    }
}

section.roles {
    & table {
        /** Make the data columns center the 'X' indicators  */
        & tr td:not(:nth-child(-n + 2)) {
            text-align: center;
        }
    }
}

section.users {
    & table {
        /** Make the data columns center the 'X' indicators  */
        & tr td:not(:nth-child(-n + 4)) {
            text-align: center;
        }
    }
}

@media print {
    section.report.header {
        display: none;
    }
}