body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: clip;
}
main {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    & article {
        height:100%;
        & header {
            & h1 {
                text-align: center;
            }
        }

        & section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            form {
                font-size:15pt;
                label {
                    display: inline-block;
                    width:8rem;
                }
                input {
                    border-radius: 2px;
                    padding:3px;
                }
                button {
                    background: cornflowerblue;
                    color: white;
                    border: none;
                    padding: 12px;
                    border-radius: 4px;
                    font-size: 13pt;
                }
            }
        }
    }

    & footer {
        width:100%;
        height: 48px;
        background-color: cornflowerblue;
        color: white;
        position: relative;
        bottom: 0;

        & a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}